[Unit]
Description=Ruby App

[Service]
Restart=always
Type=simple
ExecStart={{ APP_PATH }}
Environment='SECRET_KEY_BASE=slurm' 'RAILS_ENV=production' 'RAILS_LOG_TO_STDOUT=1' 'DB_HOST={{ DB_HOST }}' 'DB_PORT={{ DB_PORT }}' 'DB_NAME={{ DB_NAME }}' 'DB_USER={{ DB_USER }}' 'DB_PASSWORD={{ DB_PASSWORD }}'

[Install]
WantedBy=multi-user.target